<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://printname.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e6d8d48a-0f7d-410f-814a-186c6421cdf7/resourceGroups/azure_basics/providers/Microsoft.Web/sites/printName</ResourceId>
    <UserName>$printName</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://printname.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>